.top{
    height: auto; 
    width:100%;
    margin-left: 0;
    background: snow;
    position: fixed; 
    top: 0;
    margin-bottom: 5px;
}

.top ul{
    width: auto;
    list-style-type: none;
    white-space:nowrap;
    overflow: hidden;
    margin-left: 5%;
    padding: 0;

}

.top li {
    float:left;
    margin-right:2%;
    position: relative;
    overflow: hidden;
}

.top li a{
    display: block;
    color: cornflowerblue;
    text-align: center;
    padding: 3px;
    overflow: hidden;
    text-decoration: none;
    font-size: 15px;

}

.top li a:hover{
    background-color: rgb(163,238,255);
}

.top ul li ul{
    margin-left: -0.2px;
    background:rgb(189, 181, 181);
    position: relative;
    display: none;

}

.top ul li ul li{
    float:none;
    text-align: center;
}

.top ul li:hover ul{
    display: block;
}

#serch{

    right: 50px;
    top: 20px;
    height: 30px;;
    width: 250px;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.8s;              //过渡动画时间
	background-color: rgb(175, 200, 223);
    border: none;
}

body{
    background:#eff3f5;
}